/* .box{
    width: 200px;
    height: 200px;
    background-color: bisque;
    animation-name: changeColor;
    animatio-name animatsiyaning nomi chaqiriladi
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
} */
/* @keyframes changeColor{
    0%{
        background-color: red;
        color:white;
        font-size: 20px;
    }25%{
        background-color: yellow;
        color: black;
        font-size: 40px;
    }50%{
        background-color: blue;
        color: red;
        font-size: 60px;
    }75%{
        background-color: green;
        font-size: 80px;
        color: pink;
    }85%{
        background-color: aquamarine;
        color: blueviolet;
        font-size: 90px;
    }100%{
        background-color: black;
        color: aqua;
        font-size: 140px;
    }
} */

/* h1{
    text-align: center;
    margin-top: 40px;
    animation-name: heart;
    animation-name animatsiyaning nomi chaqiriladi 
    animation-duration: 2s;
    animation-iteration-count: infinite;
} */
.box{
    width: 10px;
    height: 10px;
    background-color: aquamarine;
    animation-name: aylana;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;z
}

body{
    background-color: black;
}


@keyframes aylana{
    from{
        margin-left: 0;
        transform: rotate(0deg);
    }to{
        margin-left: 100%;
        transform: rotate(180deg);
    }
}